GENAPI_KEY=your_genapi_key_here
GENAPI_URL=https://api.gen-api.ru/api/v1
LIGHTNING_KEY=your_lightning_key_here
LIGHTNING_URL=https://lightning.ai/api/v1
MAIN_MODEL=anthropic/claude-haiku-4-5-20251001
COMPRESS_MODEL=gpt-4o-mini
EMBED_MODEL=text-embedding-3-small
TWITCH_STREAM_KEY=your_twitch_stream_key
MODEL_PATH=model/your_model.model3.json
TG_BOT_TOKEN=your_telegram_bot_token
